@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root {
    --black: #000000;
    --dark:#353535;
    --secondary: #808080;
    --light: #ffffff;
    --danger: #FF6060;
    --warning: #FF7F24;
    --success: #19B886;
    --border: #ECECEC; 
    --ghost: #cfcfcf;
}

/* elements */
.container {
    margin-left: 20px;
    margin-right: 20px;
}

.back-button {
    display: block;
    text-decoration: none;
    background-color: var(--danger);
    color: var(--light);
    padding: 8px 0;
    cursor: pointer;
}

.back-button img {
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.light-success-text {
    font-weight: 400;
    color: var(--success);
}

.tag-button {
    cursor: pointer;
    padding: 10px 45px;
    background-color: var(--border);
    border-radius: 5px;
    border: none
}

/* components */
.header {
    background-color: var(--dark);
    padding: 10px 0;
    width: 100%;
    position: fixed;
}

.mobile-block {
    min-height: 100vh;
    padding-top: 55px;
}

.btn-category {
    cursor: pointer;
}

.mobile-block__header {
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
    color: var(--light);
}

.is-secondary {
    background-color: var(--secondary);
}

.is-success {
    background-color: var(--success);
}

.is-warning {
    background-color: var(--warning);
}

.news-card {
    text-decoration: none;
    display: block;
    color: var(--black);
    cursor: pointer;
    padding: 20px 0;
    border-bottom: 1.5px solid var(--border);
}

.news-card__title {
    font-size: 12px;
    margin-bottom: 8px;
}

.news-card__date, .news-card__category {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: var(--secondary);
}

.post-detail-block {
    padding: 30px 0;
}

.post-detail-block .news-card__title, .post-detail-block .news-card__date {
    margin-bottom: 15px;
}

.description {
    font-size: 12;
    margin-bottom: 15px;
}

.post-detail-block img {
    width: 100%;
    margin-bottom: 30px;
}

.author {
    display: block;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 400;
}

.category-row {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
}

.category-item {
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: 1.5px solid var(--border);
    color: var(--black);
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.category-item:hover {
    background-color: var(--border);
    color: var(--secondary);
}

.category-item__title {
    font-size: 12px;
}

.category-item__img, .category-item__title {
    display: block;
}

.category-item__img {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.loading-card {
    padding: 12px 0;
    border-bottom: 1px solid var(--border);
}

.loading-detail {
    padding: 25px 0;
}

.loading-row {
    gap: 20px; 
    padding: 30px 0;
    display: grid;
    grid-template-columns: auto auto;
}

.loading-item {
    border: 1.5px solid var(--border);
    padding: 30px;
    border-radius: 30px;
}

.skeleton-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--border);
    animation: ghost 1s infinite linear;
    margin: 0 auto;
}

.skeleton-small-text {
    margin: 0 auto;
    border-radius: 80px;
    width: 100px;
    height: 20px;
    background-color: var(--border);
    animation: ghost 1s infinite linear;
    margin-top: 20px;
}

.skeleton-title, .skeleton-text, .skeleton-big-text, .skeleton-image {
    width: 100%;
    background-color: var(--border);
    border-radius: 8px;
    animation: ghost 1s infinite linear;
    margin-bottom: 10px;
}

.skeleton-title {
    height: 25px;
}

.skeleton-text {
    height: 15px;
}

.skeleton-big-text {
    height: 120px;
}

.skeleton-image {
    height: 220px;
}

@keyframes ghost {
    0% {
        background-color: var(--border);
    }
    50% {
        background-color: var(--ghost);
    }
    100% {
        background-color: var(--border);
    }
}

.error {
    background-color: var(--danger);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--light);
}

.error-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.error-description {
    font-size: 12px;
    margin-bottom: 12px;
}

.white-btn {
    border-radius: 10px;
    border: none;
    padding: 10px 45px;
    text-decoration: none;
    background-color: var(--light);
    color: var(--danger);
    display: inline-block;
    font-size: 12px;
}
